body{
    margin: 0;
}

.image-grid {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.column {
    flex: 0 0 calc(50% - 10px);
}
.image-item{
    margin-bottom: 10px;
    opacity: 0;
}
.fade-in {
    animation: fadeInAnimation 1s ease-in-out forwards;
}
@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.image-item img{

    width: 100%;
    height: auto;
}
@media (max-width: 768px){
      .image-grid{
        display: block;
      }
}
